__pycache__/
*.pyc

.env

node_modules/

data/faiss_index/

venv/
data/scraped_pages/*.txt
!data/scraped_pages/.gitkeep

data/faiss_index/*
!data/faiss_index/.gitkeep

data/cleaned_pages/*.txt
!data/cleaned_pages/.gitkeep

data/chunks/*.json
!data/chunks/.gitkeep

data/embeddings/*.json
!data/embeddings/.gitkeep   